.nav{
    padding: 5px;
    /* height: 50px; */
    width: 100%;
    background-color: rgb(59, 58, 58);
    display:flex;
    justify-content: space-between;
}

.nav-title{
  height: 20px;
    color: white;
    font-family: cursive;
}


li{
    margin-left:5px;
    margin-right:5px;
    display:inline-block
}

a{
    color:gray;
}

.active{
    color: white;
}



